<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <style>
    body {
  font-family: 'Century Gothic';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overlay {
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 0;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay button {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay-content ul li {
  list-style: none;
}

header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  -webkit-transform-style: inherit;
          transform-style: inherit;
  background: url("https://source.unsplash.com/zaBz9pdGBGA/1366x768") top center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  scroll-behavior: smooth;
}

.welcome .container {
  margin-left: 10%;
  margin-top: 15%;
  width: 50%;
}
.wrapper {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.typing {
  width: 28ch;
  -webkit-animation: typing 2s steps(52), blink 0.8s step-end infinite alternate;
          animation: typing 2s steps(52), blink 0.8s step-end infinite alternate;
  white-space: nowrap;
  border-right: 5px solid;
  overflow: hidden;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem auto;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left .2s;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  margin-right: 10px;
}

.blog-card .details .date:before {
  margin-right: 10px;
}

.blog-card .details .tags ul:before {
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5 ease;
  transition: 0.5 ease;
}

.blog-card:hover .details {
  left: 0%;
}

@media (max-width:640px){
  .blog-card:hover{
    transform: scale(1);
  }
}

@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 700px;
  }
  .blog-card:hover{
    transform: scale(1.1);
  }
  .blog-card .meta {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blog-card:nth-child(even) .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card:nth-child(even) .details {
    padding-left: 25px;
  }
}

footer {
  position: relative;
  margin-top: 20px;
  height: 300px;
  width: 100%;
  background: #1a1a1a;
  color: wheat;
}

footer .container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #1a1a1a;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons a.facebook:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #333333;
}

@media (max-width: 767px) {
  footer{
    margin-bottom: 0px;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

  </style>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <!-- Navigattion -->
<header class="bg">
        <nav id="nav" class="nav overlay">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li>
                      <li><a href="/articles/new"><i class="fas fa-file"></i> New Article</a></li>
                    <a href="profile/<%= name%>"><span><i class="fas fa-user-alt"></i> Hello, <%= name%> </span></a>
            </li>
          <% if(name !== "Guest") {%>
            <li >
            <form action="/user/logout?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger" type="submit"><i class="fas fa-sign-out-alt"></i> Log Out</button>
            </form>
            </li>
           <% } else { %> 
              <li>
                <a href="/user/register"><i class="fas fa-fingerprint"></i> Sign-up</a>
              </li>
            <% } %>
            </ul>
            </div>
        </nav>
        <span style="font-size:30px;cursor:pointer;padding: 20px;" onclick="openNav()">&#9776; Read<i>it</i></span>
    <section class="welcome" id="welcome">
        <div class="container">
            <span class="display-6">Hello!! Welcome to</span>
            <h1 class="display-2">Read<i>it</i> Blog</h1>
            <span class="display-6">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                 there live the blind texts.
                 Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</span>
        </div>
    </section>
    </header>

  <!-- Main Content -->
<section class="explore" id="explore">
        <div class="wrapper">
            <div class="typing">
                <h1 class="display-4">#explore</h1>
            </div>
        </div>
        <% articles.forEach(article => {%>
            <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(https://source.unsplash.com/random);"></div>
                <ul class="details">
                    <li class="author"><i class="fas fa-user"></i> <a href="#"><%= article.createdBy %></a></li>
                    <li class="date"><%= article.createdAt.toLocaleDateString() %></li>
                </ul>
            </div>
            <div class="description">
                <h1><%= article.title %></h1>
                <p><%= article.description %></p>
                <p class="read-more"><a href="articles/<%= article.slug %>">Read More <i class="fas fa-arrow-right"></i></a></p>
            </div>    
        </div>
        <% }) %>
</section>
  <!--Footer-->
    <footer class="site-footer">
        <div class="container">
            <span class="display-1">Read<i>it</i></span>
            <span class="display-6">Read<i>it</i> is a blogging site. You can write your articles in mardown</span>
            <span class="display-6">Copyright &copy; All rights reserved</span>
            <span class="display-6">Designed by Abhimanyu with &hearts;</span>
            <div class="social-links mt-4">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://instagram.com/abhimanyuuu_____"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/a12baghel2"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="https://github.com/a12baghel2"><i class="fab fa-github"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/abhimanyu-baghel/"><i class="fab fa-linkedin"></i></a></li>   
                </ul>
            </div>
        </div>
  </footer>
  <script>
    function openNav() {
  document.getElementById("nav").style.width = "100%";
}

function closeNav() {
  document.getElementById("nav").style.width = "0%";
}

  </script>
</body>
</html>